
 <div class="d-flex justify-content-center">
  <span class="h2 text-color">List of Canditates</span>
</div>



<div class="row">
  <div class="col col-lg-4">     
    <!-- <span class="h5">Filter</span> -->
    <div class="list">
      <div class="form-check mt-80">       
        <div>
          <select name="Multi Liunage" class="drop">
            <option>Experiance</option>
          </select>
      </div>
      <hr>
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Below 1 year Experiance
      </label>
      </div>
      <div class="form-check mt-80">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">2 year Experiance
      </label>
      </div>
      <div class="form-check mt-80">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">3 year Experiance
      </label>
      </div>
      <div class="form-check mt-80">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">5+ year Experiance
      </label>
      </div>
      <hr>
      <div class="form-check mt-80">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Show Only Available
      </label>
      </div>
      <hr>
      <div>
          <select name="Multi Liunage" class="drop">
            <option>Multi Liunage</option>
          </select>
      </div>
      <hr>
      <div class="form-check mt-80">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">English
      </label>
      </div>
      <div class="form-check mt-80">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">German
      </label>
      </div>
    </div>



  </div>


      <div class="col col-lg-8">
       
        <div class="mt-4">
          <form class="example"  style="margin:auto;max-width:100%">
            <input type="text" placeholder="Search.." name="search2">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>  
        </div>
        <div class="mt-11">
          <div class="row">
              <div class="col col-lg-8">
                <div class="d-flex justify-content-start">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="check1" checked>
                  <label class="custom-control-label" for="check1">Save All Profile</label>
                </div>
                  <div class="custom-control custom-checkbox ml-5">
                    <input type="checkbox" class="custom-control-input" id="check2" checked>
                    <label class="custom-control-label" for="check2">Save To List</label>
                  </div>
                </div>
              </div>
              <div class="col col-lg-4">
                <div class="d-flex justify-content-end">
                  <div class="dropdown">
                    <span>sort by</span>
                    <button class="btn btn-light dropdown-toggle ml-4" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Job Date
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">Action</button>
                      <button class="dropdown-item" type="button">Another action</button>
                      <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>



        <div class="d-flex flex-row mt-5 flex-buttons">
          <button class="form-control bg-color text-light btn btn-lg">Total Job Resultes </button>
          <button class="form-control">Past Job 90 Days</button>
          <button class="form-control">Posted on 30 job by shework</button>
        </div>
        
        <div class="card w-100 mt-5 rounded-lg shadow-lg mt-5">
          <div class="card-body shadow">
            <div class="corner"><span class="h2">$12.00</span></div>
            <div class="corner-text"><span class="h2">per hour</span></div>
              <div class="row">
                  <div class="col-lg-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="check3">
                      <label class="custom-control-label" for="check3"></label>
                    </div>
                    <img class="rounded-circle mt-4 img-responsive img-fluid img-width" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                    data-holder-rendered="true">
                    <!-- <i class="fa fa-circle" style="color: green;"></i> -->
                    <div class="mt-5 star-align">
                      <span class="fa fa-star checked" style="color: rgb(245, 245, 12);"></span>
                      <span class="fa fa-star checked" style="color: rgb(245, 245, 12);"></span>
                      <span class="fa fa-star checked" style="color: rgb(245, 245, 12);"></span>
                      <span class="fa fa-star" style="color: rgb(245, 245, 12);"></span>
                      <span class="fa fa-star" style="color: rgb(245, 245, 12);"></span>
                    </div>
                  </div>
                  <div class="col-lg-9">
        
                    <div class="row">
                      <div class="col col-lg-6">
                        <div class="d-flex justify-content-start">
                            <div class="h3">Steffy walson <span class="h6">- PHP developer</span>
                            </div>
                         </div> 
                      </div>
                      <div class="col col-lg-6">
                        <div class="d-flex justify-content-between flex-buttons">
                          <div class="h6 mt-3 ml-2">Buyout (2 month NP)</div>
                         </div> 
                      </div>
                </div>
            
        
        
                      <div class="d-flex justify-content-start mt-3">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span>Pune , india (Time Zone)</span>
                      </div>
                      <div class="d-flex justify-content-start mt-3">
                        <span>Total Experiance: 9 years</span>
                    </div>
                    <div class="d-flex justify-content-start mt-3">
                      <span>skills :  Php , Html5 , Css <a href="javascript:void(0)">More</a></span>
                  </div>
                  <div class="d-flex justify-content-start mt-3">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
                </div>
                   
              </div>
          </div>
          <div class="hr-margin">
            <hr>
         </div>
         <div class="d-flex flex-buttons">
          <div class="mr-auto  d-flex justify-content-start">
            <button class="btn btn-block btn-md form-control border-gradiants rounded-lg">Save</button>
          </div>
      <div class="d-flex justify-content-end">
        <div class="custom-control custom-checkbox mt-1">
          <input type="checkbox" class="custom-control-input" id="check1" checked>
          <label class="custom-control-label" for="check1">Save All Profile</label>
        </div>
      </div> 
       <div class="d-flex justify-content-end ml-3"> 
        <button type="button" class="btn btn-block btn-md form-control border-gradiants rounded-lg">Shortlisted</button>
        <button type="button" class="btn  btn-md bg-color text-light form-control rounded-lg ml-3">Sheduled Call</button>
      </div>
      <!-- <input type="checkbox" class="ml-3 form-check-input"> --> 
</div>
        </div>
        </div>
        
        
        <div class="card w-100 mt-5 rounded-lg shadow-lg mt-5">
          <div class="card-body shadow">
            <div class="corner"><span class="h2">$12.00</span></div>
            <div class="corner-text"><span class="h2">per hour</span></div>
              <div class="row">
                  <div class="col-lg-3">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="check4">
                      <label class="custom-control-label" for="check4"></label>
                    </div>
                    <!-- <i class="fa fa-circle" style="color: green;"></i>   -->
                    <img class="rounded-circle mt-4 img-responsive img-fluid img-width" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
                    data-holder-rendered="true">
                    <div class="mt-5 star-align">
                      <span class="fa fa-star checked" style="color: rgb(245, 245, 12);"></span>
                      <span class="fa fa-star checked" style="color: rgb(245, 245, 12);"></span>
                      <span class="fa fa-star checked" style="color: rgb(245, 245, 12);"></span>
                      <span class="fa fa-star" style="color: rgb(245, 245, 12);"></span>
                      <span class="fa fa-star" style="color: rgb(245, 245, 12);"></span>
                    </div>
                  </div>
                  <div class="col-lg-9">
        
                    <div class="row">
                      <div class="col col-lg-6">
                        <div class="d-flex justify-content-start">
                            <div class="h3">Steffy walson <span class="h6">- PHP developer</span>
                            </div>
                         </div> 
                      </div>
                      <div class="col col-lg-6 flex-buttons">
                        <div class="d-flex justify-content-between">
                          <div class="h6 mt-3 ml-1">Buyout (2 month NP)</div>
                         </div> 
                      </div>
                </div>
                      <div class="d-flex justify-content-start mt-3">
                        <i class="fa fa-map-marker location" aria-hidden="true"></i>
                          <span>Pune , india (Time Zone)</span>
                      </div>
                      <div class="d-flex justify-content-start mt-3">
                        <span>Total Experiance: 9 years</span>
                    </div>
                    <div class="d-flex justify-content-start mt-3">
                      <span>skills :  Php , Html5 , Css <a href="javascript:void(0)">More</a></span>
                  </div>
                  <div class="d-flex justify-content-start mt-3">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
                </div>
              </div>
          </div>
          <div class="hr-margin">
            <hr>
         </div>
         <div class="d-flex flex-buttons">
          <div class="mr-auto  d-flex justify-content-start">
            <button class="btn btn-block btn-md form-control border-gradiants rounded-lg">Save</button>
          </div>
      <div class="d-flex justify-content-end">
        <div class="custom-control custom-checkbox mt-1">
          <input type="checkbox" class="custom-control-input" id="check1" checked>
          <label class="custom-control-label" for="check1">Save All Profile</label>
        </div>
      </div> 
       <div class="d-flex justify-content-end ml-3"> 
        <button type="button" class="btn btn-block btn-md form-control border-gradiants rounded-lg">Shortlisted</button>
        <button type="button" class="btn  btn-md bg-color text-light form-control rounded-lg ml-3">Sheduled Call</button>
      </div>
     </div>
        </div>
        </div>
         
        
        
      </div>

</div>